{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/one-page-wonder/css/style.css') }}"/>
{% endblock %}

{% block body %}
    {% include "one-page-wonder/navbar.html.twig" %}
    {% include 'one-page-wonder/header.html.twig' %}

    <div class="container">
        <div class="row align-items-center">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    {% include 'one-page-wonder/footer.html.twig' %}
{% endblock %}