<!-- start footer block -->
<footer class="bg-faded text-center py-5">
    <div class="container">
        <p class="m-0">Copyright © Your Website 2017</p>
    </div>
</footer>
<!-- end footer block -->